<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.mapper.MusicMapper">
    <resultMap id="music" type="com.ohgiraffers.common.MusicDTO">
        <id property="code" column="MUSIC_CODE"/>
        <result property="name" column="MUSIC_NAME"/>
        <result property="singer" column="MUSIC_SINGER"/>
        <result property="categoryCode" column="CATEGORY_CODE"/>
    </resultMap>
    <select id="selectAllMusic" resultMap="music">
        SELECT
               MUSIC_CODE
             , MUSIC_NAME
             , MUSIC_SINGER
             , CATEGORY_CODE
        FROM TBL_MUSIC
        ORDER BY MUSIC_CODE
    </select>
    <!-- abc.put("singer", value);
            abc.put("name", value2);
            abc.put("category", no); -->
    <select id="searchMusic" resultMap="music" parameterType="hashmap">
        SELECT
        MUSIC_CODE,
        MUSIC_NAME,
        MUSIC_SINGER,
        CATEGORY_CODE
        FROM TBL_MUSIC
        WHERE PLAYABLE_STATUS = 'Y'
        <if test="singer != null">
        AND MUSIC_SINGER LIKE '%'|| #{singer} ||'%'
        </if>
        <if test="name != null">
            AND MUSIC_NAME LIKE '%'|| #{name} ||'%'
        </if>
    </select>


    <insert id="registMusic" parameterType="com.ohgiraffers.common.MusicDTO">
        INSERT INTO TBL_MUSIC
        (MUSIC_CODE, MUSIC_NAME, MUSIC_SINGER, CATEGORY_CODE, PLAYABLE_STATUS)
        VALUES
        (SEQ_MUSIC_CODE.NEXTVAL, #{name},#{singer},#{categoryCode},#{playAbleStatus})
    </insert>
    
    <update id="modifyMusic" parameterType="com.ohgiraffers.common.MusicDTO">
        UPDATE TBL_MUSIC
        <set>
            <if test="name != null and name != ''">
                MUSIC_NAME = #{name}
            </if>
            <if test="singer != null and singer != ''">
                , MUSIC_SINGER = #{singer}
            </if>
            <if test="categoryCode != null and categoryCode gt 0 ">
                , CATEGORY_CODE = #{categoryCode}
            </if>
            <if test="playAbleStatus != null and playAbleStatus != ''">
                , PLAYABLE_STATUS = #{playAbleStatus}
            </if>
        </set>
        WHERE MUSIC_CODE = #{code}
    </update>

    <delete id="deleteMusic" parameterType="_int">
        DELETE TBL_MUSIC
        WHERE MUSIC_CODE = #{no}
    </delete>


    </mapper>